@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #ffe600;
    font-family: "Inter", sans-serif;
}

#column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 200px;
    align-items: center;
}

.logo{
    width: 100%;
    margin: 150px 120px 150px;
}

h1{
    font-size: 28px;
    font-weight: 400;
    margin-top: 15px;
}
h2{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

#block_login{
    background-color: #eceaea;
    width: 85%;
    height: 80%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    box-shadow: 0 2px #8c8c8c;
}

.icon{
    width: 12%;
    border-radius: 100%;
    border-style: solid;
    border-color: #eceaea;
    background-color: #fff;
    margin: 15px 9% 5px;
}

#div{
    font-size: 120%;
}

#social-media a{
    transition: .5s;
}

#social-media a :hover{
    border-color: #ffe600;
    color: #ffe600;
    border-style: solid;
}

form{
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-left: 3%;
    text-align: left;
    font-size: 20px;
}

p{
    font-size: 16px;
}

input{
    display: flex;
    height: 50px;
    border-radius: 18px;
    font-size: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
}

::placeholder{
    color: #cccccc;
}

label{
    margin-bottom: 8px;
    margin-top: 10px;
}

.span-required{
    font-size: 12px;
    margin: 3px 0 0 10px;
    color: red;
    display: none;
}

.link{
    color: #3483FA;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
}

#button{
    display: flex;
    margin: 25px 0 20px 36%;
    width: 30%;
    height: 53px;
    justify-content: center;
    padding: 0;
    font-size: 28px;
    background-color: #3483FA;
    color: #fff;
    cursor: pointer;
    border: none;
}

footer{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

@media(max-width: 425px)   
{

    #column{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .logo{
        width: 50%;
        margin: 0;
    }
    
    h1{
        font-size: 20px;
    }

    h2{
        margin-top: 15px;
        font-size: 20px;
    }
    
    #block_login{
        width: 80%;
        height: 520px;
    }

    .icon{
        width: 12%;
    }

    #div{
        font-size: 12px;
    }

    form{
        font-size: 15px;
    }
    
    p{
        font-size: 15px;
    }
    
    input{
        height: 45px;
        font-size: 17px;
    }
    
    .link{
        font-size: 15px;
    }
    
    #button{
        margin: 25px auto 10px;
        width: 30%;
        height: 45px;
        font-size: 18px;
    } 
}

@media screen and 
(min-width: 426px) and
(max-width: 768px)
{

    #column{
        display: flex;
        flex-direction: column;
        margin: 0 60px 0 60px;
    }
    
    .logo{
        width: 35%;
        margin: 0;
    }
    
    h1{
        font-size: 25px;
    }

    h2{
        font-size: 25px;
    }
    
    #block_login{
        width: 80%;
        height: 550px;
        margin-bottom: 0;
    }

    .icon{
        width: 11%;
    }

    #div{
        font-size: 18px;
    }

    form{
        font-size: 15px;
    }
    
    p{
        font-size: 15px;
    }
    
    input{
        height: 45px;
        font-size: 17px;
    }
    
    .link{
        font-size: 15px;
    }
    
    #button{
        margin-top: 30px;
        width: 28%;
        height: 50px;
        font-size: 20px;
    } 
}
